.image-me{
    position: relative;
    height: 350px;
    left: 1150px;
    bottom: 350px;
}

.image-skiSlope{
    position: relative;
    height:300px;
    top: 20px;
    left:10px;
}

.about-container{
    
        overflow-wrap: break-word;
        word-wrap: break-word; /* For legacy browser support */
        word-break: break-word; /* For Safari and other WebKit-based browsers */
        -webkit-hyphens: auto; /* Adds hyphens to break words cleanly */
        -ms-hyphens: auto; /* For Microsoft browsers */
        hyphens: auto;
}